<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-11">
            <h1><%= title %></h1>

            <% if(typeof displayName == 'string' && displayName) { %>
                <a href="/tournament-list/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add a Tournament </a>
            <% } %>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr class="d-flex">
                    <% if(typeof displayName == 'string' && displayName) { %>
                        <th class="text-center col-2">GameName</th>
                        <th class="text-center col-2">UserName</th>
                        <th class="text-center col-1">Player ID</th>
                        <th class="text-center col-1">Region</th>
                        <th class="text-center col-1">Date</th>
                        <th class="text-center col-1"></th>
                        <th class="text-center col-1"></th>
                    <% } else { %>
                        <th class="text-center col-2">GameName</th>
                        <th class="text-center col-2">UserName</th>
                        <th class="text-center col-1">Player ID</th>
                        <th class="text-center col-1">Region</th>
                        <th class="text-center col-1">Date</th>
                    <% } %>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < TournamentList.length; count++) { %>
                    <tr class="d-flex">
                        <% if(typeof displayName == 'string' && displayName) { %>
                            <td class="text-center col-2"><%= TournamentList[count].gameName %></td>
                            <td class="text-center col-2"><%= TournamentList[count].userName %></td>
                            <td class="text-center col-1"><%= TournamentList[count].playerID %></td>
                            <td class="text-center col-1"><%= TournamentList[count].region %></td>
                            <td class="text-center col-1"><%= TournamentList[count].date %></td>            
                            <td class="text-center col-1">
                                <a href="/tournament-list/edit/<%= TournamentList[count]._id %>" class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit</a>
                            </td>
                            <td class="text-center col-1">
                                <a href="/tournament-list/delete/<%= TournamentList[count]._id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                            </td>
                         <% } else { %>
                            <td class="text-center col-2"><%= TournamentList[count].gameName  %></td>
                            <td class="text-center col-2"><%= TournamentList[count].userName %></td>
                            <td class="text-center col-1"><%= TournamentList[count].playerID %></td>
                            <td class="text-center col-1"><%= TournamentList[count].region %></td>
                            <td class="text-center col-1"><%= TournamentList[count].date %></td>  
                         <% } %>
                    </tr> 
                <% } %>
            </table>
        </div>
    </div>
  </main>
  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  





